name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: test
        run: npm run test
      # - name: Install Playwright Browsers
      #   run: npx playwright install --with-deps
      # - name: Run e2e tests
      #   run: npm run test:e2e
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' }}
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          NONE_STRING_TOKEN: "#skip"
      - name: Test Custom
        uses: rjstone/discord-webhook-notify@v2
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          username: Custom Bot Username
          avatarUrl: https://domain/images/custom.png
          text: Below this normal-looking message is an embed!
          severity: info # only to make sure the embed is added
          color: "#ff00aa"
          title: My Fancy Embed Title
          description: "This is a ***SuPeR custom*** description. I hope it looks good."
          # details: not needed because we overrode default description.
          footer: This embed was brought to you by the letter R and the number 4.
